h1 {
        font-family: 'Rye', serif;
      }
       h2 {
        font-family: 'Rye', serif;
      }
       h3 {
         color:#ff0000;
        font-family: 'Rye', serif;
      }
      p {
        font-family: 'Roboto+Slab', serif;
        font-weight: 300;
      }
.outer-box {
        background-color:grey;
        padding:10px;
        margin:10px;
        min-height:300px;
        margin-top:30px;
      }
      .name {
        color:white;
        font-family:Tahoma;
        margin-left:20px;
      }
      .picture {
        margin-left:20px;
        float:left;
        margin-right:20px;
        margin-bottom:10px;
        border:2px solid black;
      }
      .bio {
        font-family:Tahoma;
        padding-left:20px;
        padding-right:20px;
        padding-bottom:20px;
      }
      img {
        display:block;
      }
.cities {
    padding: 20px;
} 
.squarebullet {
    list-style-type:square
}
#ad {
  float:right;
  margin-right:10px;
  margin-left:10px;
}
